.categories {
    background-color: #fff;
    // width: 30rem;
    max-height: 40rem;
    box-shadow: 0 1rem 2rem rgba(82, 81, 81, 0.1);
    padding: 1rem 0;

    &__list {
        list-style: none;

        
    }
}