.specification {
    margin: 0 2rem;

    ul {

        li {
            font-size: 1.3rem;
            color: gray;
            padding: .3rem 0;
            span {
                font-weight: 700;
                color: #777;
            }
        }
    }
}