.cart {
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    padding: 2rem;



    &__heading {
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    

    
}